/* General Styling */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #2f2f2f, #607d8b);
  color: #f5f5f5;
}

.container {
  max-width: 1100px;
  margin: 20px auto;
  background-color: #607d8b;
  padding: 0 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.content-centered {
  text-align: center;
  padding: 20px 0;
}

/* Styling for Header & Footer sections */
header,
footer {
  background-color: #455a64;
  border-radius: 15px;
  margin-bottom: 15px;
}

header h1,
footer h3 {
  font-size: 30px;
  margin: 0;
  padding: 20px;
}

footer p {
  margin: 0;
  padding: 20px;
  font-size: 15px;
}

/* Styling for Navigation */
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid white;
  margin-bottom: 15px;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  background-color: #78909c;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

nav a:hover {
  background-color: #455a64;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Styling for Main Content section */
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section,
article,
aside {
  padding: 20px;
  background-color: #455a64;
  margin: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  flex: 1;
}

section:hover,
article:hover,
aside:hover {
  transform: translateY(-5px);
}

/* Styling for Details element */
details {
  width: 100%;
  margin-top: 20px;
}

details p,
details summary {
  text-shadow: 2px 2px 4px rgba(253, 255, 247, 0.5);
}

details p {
  font-size: 18px;
  margin-top: 10px;
}

summary {
  color: white;
  font-size: 22px;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #78909c;
  transition: background-color 0.3s ease;
}

summary:hover {
  background-color: #455a64;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkingCursor {
  0%,
  100% {
    border-right-color: transparent;
  }
  50% {
    border-right-color: #fff;
  }
}

header h1 {
  font-size: 30px;
  margin: 0;
  padding: 20px;
  /* Hide overflow to simulate "typing" effect */
  overflow: hidden;
  /* Add a fake "border" as the cursor */
  border-right: 2px solid #fff;
  white-space: nowrap; /* Keeps content on a single line */
  width: 23ch; /* Adjust based on content length */
  animation: typing 4s steps(25, end), blinkingCursor 1s step-end infinite;
}

@keyframes colorChange {
  0% {
    color: #fff;
  }
  25% {
    color: #ff5733;
  }
  50% {
    color: #33ff57;
  }
  75% {
    color: #3357ff;
  }
  100% {
    color: #fff;
  }
}

header h1 {
  animation: typing 4s steps(25, end), blinkingCursor 1s step-end infinite,
    colorChange 10s infinite; /* Color changing effect */
}
